[Unit]
Description=Periodic refresh for Obscura blacklist
Documentation=https://github.com/alloploha/amnezia-obscura-compose

[Timer]
OnCalendar=*-*-* 00,12:00:00
Persistent=true
Unit=obscura-blacklist.service

[Install]
WantedBy=timers.target
